<a href="https://colab.research.google.com/github/paulinaporcelli/BTE320/blob/main/Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# This function adds two numbers
def add(x, y):
    return x + y

# This function subtracts two numbers
def subtract(x, y):
    return x - y

# This function multiplies two numbers
def multiply(x, y):
    return x * y

# This function divides two numbers
def divide(x, y):
    return x / y

operators = "+ - * / // % **"

while "y" == input("Do you want to continue? (y/n): "):
  # takes inputs from user
  choice = input('enter choice(operator):')

In [ ]:
user_choice = input ('Enter date: (MM/DD/YYYY)')

month = user_choice [:2]
day = user_choice [3:5]
year = user_choice[6:]

len(user_choice)

print(month, day, year)

In [ ]:
L = []

number = int(input('Enter a value: '))

while number !=0:
  L.append (number)

if number == 0:
  print("terminate process")
  number = int(input('Enter a value: '))
print(L)

In [ ]:
months = {}
numbers = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}
names_list = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]

for num in range(len(names_list)):
  months[num + 1] = names_list[num]
print(months)

In [ ]:
s = 'This is another test'

this_s = s[:4]
print(this_s)
test_s = s[-4:len(s)]
print(test_s)
print(s[:])

In [ ]:
L[3] = 'b'
L

[1, 'two', 3.14, 'b', [5, 7, 9]]

In [ ]:
L_outer = [[1, 2, 3], [4, 5, 6]]
print(1)
L_outer[1] = 1
print(L_outer)

[[1,2, 3], [4, 5, 6]]
[4, 5, 6]
[7, 5, 6]
[[1, 2, 3], [7, 5, 6]]

In [ ]:
L = [1, 'two', 3.0, print, [5,7, 9]]

len(L)

In [ ]:
L = ['one', 'two', 'three']
L += ['three']
print(L)

In [ ]:
L = [5, 7, 3, 0, 1,9]
L.sort(reverse=True)
L

In [ ]:
l1 = [1,2,3,4]
l2 = [1,2,5,6]

for item in l1[:]:
  if item in l2:
    l1.remove(item)
l1

In [ ]:
t = (1, 'two', 3.0)
len(t)

In [ ]:
grades = {
    'Alice': 91,
    'Bob': 88,
    'Tracy': 93,
    'Erik': 90
}

for key in grades.keys():
  print(key)

In [ ]:
grades['Tracy'] = 96
grades

In [ ]:
del grades['Erik']
grades

In [ ]:
for value in grades.values():
  print(value)

In [ ]:
for key, value in grades.items():
  print(f'Key: {key}, Value: {value}')

In [ ]:
import random

user_choice = input("Enter your choice (rock, paper, or scissors): ")
computer_choice = random.choice(["rock", "paper", "scissors"])

print(f"You chose: {user_choice}")
print(f"Computer chose: {computer_choice}")

if user_choice == computer_choice:
    print("It's a tie!")
elif (
    (user_choice == "rock" and computer_choice == "scissors") or
    (user_choice == "paper" and computer_choice == "rock") or
    (user_choice == "scissors" and computer_choice == "paper")
):
    print("You win!")
else:
    print("Computer wins!")

In [ ]:
year = int(input("Enter a year: "))

if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print(f"{year} is a leap year!")
else:
    print(f"{year} is not a leap year.")

Enter a year: 2013
2013 is not a leap year.

In [ ]:
init_attendees = 20
fixed_cost = 200

for advertising in range (0,201,25):
  attendees = float(2*round(advertising**0.5) + init_attendees)
  profit = float((attendees*10) - advertising - fixed_cost)
  print(f'{advertising} ${profit}')

0 $0.0
25 $75.0
50 $90.0
75 $105.0
100 $100.0
125 $95.0
150 $90.0
175 $85.0
200 $80.0

In [ ]:
def countdown(n):
  while n >= 0:
    print(n)
    n = n - 1

  countdown(5)

Base case: trivial version of the problem

Inductive case: divided into simple versions

In [ ]:
def recursive_countdown(n):
  if n == 0:
    print(n)
    recursive_countdown(n-1)
  else:
    print(0)


recursive_countdown(5)

0

In [ ]:
def summation(n):
  s = 0
  while n >= 0:
    s = s + n
    n = n - 1
  return s

print(summation(5))

15

In [ ]:
def recursive_summation(n):
  if n == 0:
    return 0
  else:
    return n + recursive_summation(n-1)

print(recursive_summation(3))

6

In [ ]:
def fibR(n):
  if n == 0 or n == 1:
    return 1
  else:
    return fibR(n-1) + fibR(n-2)

for i in range(20):
  print(fibR(i), end=" ")

1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181 6765

In [ ]:
def fact(n):
  p = 1
  while n >= 1:
    p = p * n
    n = n - 1
  return p

fact(5)

120

In [ ]:
def factR(n):
  if n == 1:
    return 1
  else:
    return n * factR(n-1)

In [ ]:
def fibR(n):
  if n == 1:
    return 1
  while:

In [ ]:
def mirrorString(s):
  if len(s) == 1:
    return s
  else:
    return s[-1] + mirrorString(s[:-1])

mirrorString("string")

'gnirts'

In [ ]:
def quickSort(alist):
  if len(alist) < 2:
    return alist
  else:
    less, equal, larger = [], [], []

    pivotIndex = len(alist) / 2

    for item in alist:
      if item < alist[pivotIndex]:
        less.append(item)
      elif item == alist[pivotIndex]:
        equal.append(item)
      else:
        larger.append(item)

      return quickSort(less) + equal + quickSort(larger)

  quickSort([8,2,5,3,6,1])

In [ ]:
class Car:
  def _init_(self, make, model, year):
    self.make = make
    self.model = model
    self.year = year
    self.utility = 'SUV'

  def get_make(self):
    return self.make

  def accerlerate(self):
    print('The car accelerates.')

  def decelerate(self):
    print('The car decelerates.')

In [ ]:
c = Car('Ford', 150, 2023)
d = Car('Chrysle', 300, 2020)

In [ ]:
c.accelerate()

In [ ]:
d.make = 'Chevrolet'
d.make

In [ ]:
class Mortage:
  def _init_(self, amount, maturity, interest):
    self.amount = amount
    self.maturity = maturity
    self._interest = interest

  def _str_(self):
    return f'Mortage info:\n Initial loan amount: {format(self.amount, ",.2f")} $\n Maturity term: {self.maturity} (year)\n Interest rate: {self._interest}'

  _repr_ = _str_

  def get_interest(self):
    return self._interest

  def set_interest(self, newInterest):
    if newInterest >= 0:
      self._interest = newInterest
    else:
      print('Interest must be non-negative')

  def payment(self):
    B = self.amount
    n = self.maturity * 12
    r = self._interest /100

    return B * (r * (1 + r) ** n) / ((1 + r) ** n - 1)

In [ ]:
print(m)

In [ ]:
class A:
  def _init_(self, item):
    self.item = item
  def whoAmI(self):
    print('I am an instance of class A')
  def _repr_(self):
    return f'item: {self.item}'
  def _add_(self, other):
    return self.item + other.item

class B:
 def _init_(self, item):
    self.item = item
  def whoAmI(self):
    print('I am an instance of class B')

a1 = A(2)
a2 = A(5)
b = B(3)

In [ ]:
b.whoAmI()

In [ ]:
x = 2
  print(a)

In [ ]:
a1 + a2

In [ ]:
class Point:
  def _init_(self, x, y):
    self.x = x
    self.y = y
  def distance(self, other):
    x_diff = (self.x - other.x) ** 2
    y_diff = (self.y - other.y) ** 2
    return (x_diff + y_diff) ** 0.5

class Point3D(Point):
  def _init_(self, x, y, z):
    super()._init_(x, y)
    self.z = z
  def distance(self):
    x_diff = (self.x - other.x) ** 2
    y_diff = (self.y - other.y) ** 2
    z_diff = (self.z - other.z) ** 2
    return (x_diff + y_diff + z_diff) ** 0.5

  p1 = Point(3,4)
  p2 = Point(6,8)
  print(p1.distance(p2))
  p3d_1 = Point3D(3,4,5)
  p3d_2 = Point3D(6,8,10)
  print(p3d_1.distance(p3d_2))

In [ ]:
class Animal:
  def _init_(self, legs):
    self.legs = legs
    print('Animal created')
  def whoAmI(self):
    print('I am an animal')

class Bird(Animal):
  def _init_(self, wings, legs):
    super()._init_(legs)
    self.wings = wings
    print('Bird created')
  def fly(self):
    print('Birds can fly')

  a = Animal(4)
  b = Bird(2)
  b.fly()

In [1]:
base_fee = 5
hour_fee = 2.5
for hour in range(8):
  price = (hour+1)*hour_fee + base_fee
  if price < 10:
    print(f'{hour+1} 10.0')
  elif price > 20:
    print(f'{hour+1} 20.0')
  else:
    print(f'{hour + 1} {price}')

1 10.0
2 10.0
3 12.5
4 15.0
5 17.5
6 20.0
7 20.0
8 20.0